		<!-- footer starts -->
	    <footer>
	        <p>© 2016 by Carmudi Philippines, Inc.</p>
            <i class="icon icon_logowhite"></i>
	    </footer>

	    
        <script src="../dist/bundled.js"></script>
        <script src="../assets/js/lib/uikit.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>