
<section class="body_container uk-container uk-padding-remove">
    <p class="results">Displaying 1 - 9 of 345 Results</p>
        <ul id="cars_container">
        <script id="cars_listings" type="text/x-handlebars-template">
            {{#each cars}}
                <li class="catalog">
                    <a id="view-car-details">
                        <div class="uk-grid uk-margin-remove">
                            <div class="uk-width-medium-3-10 uk-padding-remove">
                                <img src="{{thumbnail}}" alt="">
                            </div>
                            <div class="uk-width-medium-7-10 smpd">
                                <div class="uk-clearfix">
                                    <div class="uk-float-left">
                                        <p class="model_name">{{name}}</p>
                                    </div>
                                    <div class="uk-float-right">
                                        <p class="price">{{price}}<span>₫</span></p>
                                    </div>
                                </div>
                                <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{location}}</p>
                            </div>
                        </div> 
                    </a>
                </li>
            {{/each}}
        </script>
        </ul>
</section>