<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Carmudi Exam</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->

        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="stylesheet" href="../assets/css/uikit.min.css">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

    </head>
    <body class="car_fulldetails">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header>
        <nav class="uk-navbar">
            <div class="uk-navbar-center">
                <a href="" class="brand"><i class="icon icon_logo"></i></a>
            </div>
        </nav>
    </header>
<section class="body_container uk-container uk-padding-remove">
    <p class="results">Displaying 1 - 9 of 345 Results</p>
        <ul id="cars_container">
        <script id="cars_listings" type="text/x-handlebars-template">
            {{#each cars}}
                <li class="catalog">
                    <a id="view-car-details">
                        <div class="uk-grid uk-margin-remove">
                            <div class="uk-width-medium-3-10 uk-padding-remove">
                                <img src="{{thumbnail}}" alt="">
                            </div>
                            <div class="uk-width-medium-7-10 smpd">
                                <div class="uk-clearfix">
                                    <div class="uk-float-left">
                                        <p class="model_name">{{name}}</p>
                                    </div>
                                    <div class="uk-float-right">
                                        <p class="price">{{price}}<span>₫</span></p>
                                    </div>
                                </div>
                                <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{location}}</p>
                            </div>
                        </div> 
                    </a>
                </li>
            {{/each}}
        </script>
        </ul>
</section>		<!-- footer starts -->
	    <footer>
	        <p>© 2016 by Carmudi Philippines, Inc.</p>
            <i class="icon icon_logowhite"></i>
	    </footer>

	    
        <script src="../dist/bundled.js"></script>
        <script src="../assets/js/lib/uikit.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>