$main_font: Questrial,Lato;
// common colors
$white: #fff;

// font colors
$subtitle-color: #696969;
$headers-color: #000;
$price-color: #F36519;
$result-color:#363D41;
$white:#fff;

// backgrounds
$lightgray: #e6e6e6;
$bggray: #F2F2F2;
$bgblue: #165AA7;
$bgdarkgray: #1A1A1A;
@font-face {
    font-family: "Questrial";
    src: url("../fonts/Questrial.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato.ttf") format("truetype");
}

// mixins
@mixin img_size($width, $height: $width) {
      width: $width;
      height: $height;
}
@mixin bradius($weight){
	-webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.flex{
	display:-webkit-flex;
	   display:-moz-flex;
	    display:-ms-flex;
	       display: flex;
}
html,body{
	font-family: $main_font;
	font-size: 10px !important;
	background: $bggray;
    position: relative;
}
.headers_font{
	font-size: 1.6rem;
	color:$headers-color;
}

.prices_font{
	@extend .headers_font;
	color:$price-color;
}

.location_font{
	@extend .headers_font;
	font-size: 1.2rem;
	color:$subtitle-color;
	margin-top: 0;
}

.subs_font{
	@extend .headers_font;
	color:$subtitle-color;
}

.clearfix{
    overflow: hidden;
    content: "";
    clear: both;
}

.square{
	@include img_size(128px);
}

header .uk-navbar{
	height:48px;
	background:$white;
	border-bottom:1px solid $bggray;
	.uk-navbar-center{
	    max-width: 20%;
	}
}
// icon farm
.icon{
	display:block;
}

.imgcover_full{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.icon_logowhite{
	background-image:url('../img/logo_white.png');
	height: 34px;
	width: 112px;
}

.icon_logo{
	@extend .imgcover_full;
	background-image:url('../img/logo.png');
	height:28px;
	width:109px;
    margin: 0 auto;
    margin-top: 10px;
}

section.body_container {
	max-width: 900px;
	margin: 0 auto;
    overflow: auto;
    padding-bottom: 80px !important;
	ul{
	    max-width: 600px;
	    display: block;
	    margin: 0 auto;
	}
	p.results{
		padding: 24px 0 15px;
		font-size: 1.2rem;
	}
	li.catalog{
		list-style: none;
		background:$white;
		padding:12px;
		margin-bottom: 10px;
		border:1px solid $lightgray;
		div.smpd{
			padding-left: 13px;
			i.fa-map-marker{
				padding-right: 5px;
			}
			p.model_name{
				@extend .headers_font;
			}
			p.price{
				@extend .prices_font;
				span{
				    position: relative;
				    top: -3px;
				    padding-left: 1px;
				    font-size: 1rem;
				}
			}
			p.location{
				@extend .location_font;
			}
		}
	}
}
footer{
	height:73px;
	background:$bgdarkgray;
	position: absolute;
	width:100%;
	bottom:0;
	@extend .clearfix;
	p {
		text-align: center;
	    font-size: 1.3rem;
	    display: block;
	    margin: 0;
	    color:$white;
	    position: absolute;
	    bottom: 10px;
	    text-align: center;
	    width:100%;
	}
	i.icon {
		@extend .imgcover_full;
		margin: 15px 0 0 135px;
	}
}


