@font-face {
  font-family: "Questrial";
  src: url("../fonts/Questrial.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato.ttf") format("truetype"); }

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }

html, body {
  font-family: Questrial, Lato;
  font-size: 10px !important;
  background: #F2F2F2;
  position: relative; }

.headers_font, .prices_font, section.body_container li.catalog div.smpd p.price, .location_font, section.body_container li.catalog div.smpd p.location, .subs_font, section.body_container li.catalog div.smpd p.model_name {
  font-size: 1.6rem;
  color: #000; }

.prices_font, section.body_container li.catalog div.smpd p.price {
  color: #F36519; }

.location_font, section.body_container li.catalog div.smpd p.location {
  font-size: 1.2rem;
  color: #696969;
  margin-top: 0; }

.subs_font {
  color: #696969; }

.clearfix, footer {
  overflow: hidden;
  content: "";
  clear: both; }

.square {
  width: 128px;
  height: 128px; }

header .uk-navbar {
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #F2F2F2; }
  header .uk-navbar .uk-navbar-center {
    max-width: 20%; }

.icon {
  display: block; }

.imgcover_full, .icon_logo, footer i.icon {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.icon_logowhite {
  background-image: url("../img/logo_white.png");
  height: 34px;
  width: 112px; }

.icon_logo {
  background-image: url("../img/logo.png");
  height: 28px;
  width: 109px;
  margin: 0 auto;
  margin-top: 10px; }

section.body_container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 80px !important; }
  section.body_container ul {
    max-width: 600px;
    display: block;
    margin: 0 auto; }
  section.body_container p.results {
    padding: 24px 0 15px;
    font-size: 1.2rem; }
  section.body_container li.catalog {
    list-style: none;
    background: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6; }
    section.body_container li.catalog div.smpd {
      padding-left: 13px; }
      section.body_container li.catalog div.smpd i.fa-map-marker {
        padding-right: 5px; }
      section.body_container li.catalog div.smpd p.price span {
        position: relative;
        top: -3px;
        padding-left: 1px;
        font-size: 1rem; }

footer {
  height: 73px;
  background: #1A1A1A;
  position: absolute;
  width: 100%;
  bottom: 0; }
  footer p {
    text-align: center;
    font-size: 1.3rem;
    display: block;
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%; }
  footer i.icon {
    margin: 15px 0 0 135px; }
